/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Cor de fundo claro */
    color: #333; /* Cor de texto escura */
}

h1, h3 {
    color: #007bff; /* Cor azul principal */
}

form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff; /* Cor de fundo branco para o formulário */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

ul {
    list-style: none;
}

li {
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

input[type="radio"] {
    margin-right: 5px;
}

button {
    background-color: #007bff; /* Cor azul principal */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3; /* Cor azul mais escura ao passar o mouse */
}

.fechar-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #dc3545; /* Cor vermelha para o botão de fechar */
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
}

.fechar-btn:hover {
    background-color: #c82333; /* Cor vermelha mais escura ao passar o mouse */
}

a {
    color: #007bff; /* Cor azul principal para links */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Estilos específicos para a seção de imagens */
#imageOptions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

#imageOptions img {
    margin-bottom: 10px;
}

/* Estilos para a seção de contratante e prestador de serviço */
#contract,
#provider {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

#contract form,
#provider form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
